# Ignore specific files
/backend/Football_Championship_2023_Shots_With_Expected_Points.json
/frontend/src/components/firebaseold.js
/frontend/src/components/firebasenew.js
/frontend/.env
/Users/fechinmitchell/Projects/GAAStudio/backend/gaastudio-2a7ac-firebase-adminsdk-pxkjd-a10063e0b0.json

# Properly ignore node_modules directory
node_modules/

# Ignore Python virtual environment directory
backend/venv/

# Ignore cache files (if applicable, based on your previous errors)
*.pack

# Ignore any dynamic library files that might be large
*.dylib

.history/backend/gaastudio-2a7ac-firebase-adminsdk-pxkjd-a10063e0b0_20240509171905.json
