.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  gap: 1rem; /* Space between grid items */
  padding: 1rem;

}

.App-header {
  grid-column: 1 / -1; /* Makes sure the header spans the full width of the grid */
  background-color: #282c34;
  min-height: 40px;
  padding: 20px;
  color: white;
  font-size: 24px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr; /* Creates two row tracks: one for the header and one for the content */
  gap: 1rem;
}

.team-data {
  margin: 20px auto;
  padding: 10px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.heatmap-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}
  