.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .team-data {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .chart-container {
    width: 500px;  /* Adjusted width */
    height: 300px; /* Adjusted height */
    margin: auto;
  }

  /* Add this class to your React Image component */
.heatmap-image {
  max-width: 100%;  /* Ensures image is not wider than its container */
  height: auto;     /* Keeps the image aspect ratio */
  margin: 20px 0;   /* Adds some space around the image */
}

  